---
layout: page
---

{{ content }}

{% assign posts = paginator.posts | default: site.posts %}
{% assign date_format = site.date_format | default: "%B %-d, %Y" %}

<ul class="posts-list">
  {% for post in posts %}
  <li class="post-preview">
    <span class="post-meta">{{ post.date | date: date_format }}</span>
    <div>
      <a href="{{ post.url | absolute_url }}">{{ post.title | strip_html }}</a>
      {% if post.subtitle %}<div class="post-excerpt">{{ post.subtitle }}</div>{% endif %}
    </div>
  </li>
  {% endfor %}
</ul>
